.main_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: #aed8cc;
  margin: 10px 0;
  color: #3e001f;
  font-weight: bolder;
  font-size: 22px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: 10px;
  padding: 0 20px;
}

.main_container li ul {
  display: flex;
  column-gap: 30px;
}

.main_container li ul .edit_button,
.main_container li ul .delete_button {
  background-color: #d71313;
  font-size: 15px;
  color: #fff;
  height: 40px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.main_container li ul .edit_button {
  background-color: #6528f7;
}
